<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .test {
        color: red
        }
    </style>
</head>
<body>
<div>
    <h1 class="test">Test1</h1>
    <h2>Test2</h2>
    <p>testovic testovic</p>
    <a href="https://github.com/" target="_blank">test url</a>
    <img src="https://images.noob-club.ru/news/2026/08/615/icej9gkq4o.jpg">
    <ul>
        <li class="test">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
    <ol>
       <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ol>
    <input placeholder="test text">
    <input placeholder="test text" type="email">
    <textarea placeholder="test text">1235</textarea>
    <button>test</button>
</div>

</body>
</html>